[user]
	name = Johannes Choo
	email = jhanschoo@gmail.com
	signingkey = Johannes Choo
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
[push]
	default = simple
[alias]
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	br = branch
	c = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
	stash-unapply = !git stash show -p | git apply -R
	cob = checkout -b
	cam = commit -am
	s = status -s
	d = diff
	a = add
	A = add -A
	cm = commit -m
[commit]
	gpgsign = true
[url "https://aur.archlinux.org/"]
  insteadOf = "aur:"
[url "https://aur4.archlinux.org/"]
  pushInsteadOf = "aur:"
