[submodule "oh-my-zsh/.oh-my-zsh"]
	path = oh-my-zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh-syntax-highlighting/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "prelude/.emacs.d"]
	path = prelude/.emacs.d
	url = git://github.com/bbatsov/prelude.git
[submodule "asdf/.asdf"]
	path = asdf/.asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "asdf-plugins/.asdf/repository"]
	path = asdf-plugins/.asdf/repository
	url = https://github.com/asdf-vm/asdf-plugins.git
[submodule "asdf-nodejs/.asdf/plugins/nodejs"]
	path = asdf-nodejs/.asdf/plugins/nodejs
	url = https://github.com/asdf-vm/asdf-nodejs.git
[submodule "asdf-ruby/.asdf/plugins/ruby"]
	path = asdf-ruby/.asdf/plugins/ruby
	url = https://github.com/asdf-vm/asdf-ruby.git
[submodule "SpaceVim/.SpaceVim"]
	path = SpaceVim/.SpaceVim
	url = https://github.com/SpaceVim/SpaceVim.git
[submodule "SpaceVim/.cache/vimfiles/repos/github.com/Shougo/dein.vim"]
	path = SpaceVim/.cache/vimfiles/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim.git
