[submodule "oh-my-zsh/.oh-my-zsh"]
	branch = master
	path = oh-my-zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh-syntax-highlighting/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	branch = master
	path = zsh-syntax-highlighting/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "asdf/.asdf"]
	branch = master
	path = asdf/.asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "asdf-plugins/.asdf/repository"]
	branch = master
	path = asdf-plugins/.asdf/repository
	url = https://github.com/asdf-vm/asdf-plugins.git
[submodule "asdf-nodejs/.asdf/plugins/nodejs"]
	branch = master
	path = asdf-nodejs/.asdf/plugins/nodejs
	url = https://github.com/asdf-vm/asdf-nodejs.git
[submodule "asdf-ruby/.asdf/plugins/ruby"]
	branch = master
	path = asdf-ruby/.asdf/plugins/ruby
	url = https://github.com/asdf-vm/asdf-ruby.git
[submodule "spacemacs/.emacs.d"]
	branch = develop
	path = spacemacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "zsh-nvm/.oh-my-zsh/custom/plugins/zsh-nvm"]
	path = zsh-nvm/.oh-my-zsh/custom/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm.git
